#col1 {
height: 50vh;
background-color: cadetblue;
}

#col2 {
height: 50vh;
background-color:coral;
}

#col3 {
height: 50vh;
background-color:crimson;
}

#col4 {
height: 50vh;
background-color:darkseagreen;
}