/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
	--font-family1: 'Lato', sans-serif;
    --font-family2: 'Montserrat', sans-serif;
    --font-family3: 'Open Sans', sans-serif;
    --font-family4: 'Poppins', sans-serif;
    --font-family5: 'Roboto', sans-serif;
    
	/* Colors */
	--gray: #485359;
	--white: #e9f0f2;
	--black: #0d0d0d;
	--light: #5ef2ad;
	--dark: #45735d;
	--light2: #f38888;
	--dark2: #d27575;
	--light3: #a0d3f2;
	--dark3: #769bb3;
    --pink: #E6B3E7;
    --salmon: #E7B3B4; 
    --brown: #E7CCB3;
    --green: #B4E7B3
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
#sec_lan {
	height: 200vh;
	background-color: var(--green);
    font-family: 'Roboto', sans-serif;
}

#sec_nav {
	height: 35vh;
	background-color: var(--brown);
    font-family: 'Poppins', sans-serif;
}

#sec_abo {
    height: 75vh;
    background-color: var(--salmon);
    font-family: 'Montserrat', sans-serif;     
    }

#sec_exp {
    height: 30vh;
    background-color: var(--pink);
    font-family: 'Roboto', sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}